[Unit]
Description=OpenThread Border Router (Sonoff MG24 RCP)
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/ownbee/hass-otbr-docker:latest
AutoUpdate=registry
ContainerName=otbr
Network=host
PodmanArgs=--privileged
AddDevice=/dev/ttyUSB0
AddDevice=/dev/net/tun
Environment=DEVICE=/dev/ttyUSB0
Environment=BAUDRATE=460800
Environment=FLOW_CONTROL=0
Environment=BACKBONE_IF=wlp7s0
Environment=OTBR_REST_PORT=8081
Environment=OTBR_WEB_PORT=7586
Environment=AUTOFLASH_FIRMWARE=0
Environment=NAT64=0
Environment=FIREWALL=0
Environment=OTBR_LOG_LEVEL=notice
Volume=/var/lib/otbr_data:/data/thread:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
